<nav id="sidebar">
  <div class="sidebar-header">
    <a href="/home"><img src="./../../../assets/img/acopio.jpeg" alt="Logo" class="logo-menu-lateral"></a>
  </div>

  <ul class="list-unstyled components">
    <div class="linea "></div>
    <h5 class="titulo-submenu">Acopio</h5>
    <li>
      <a href="/nomina">Nomina</a>
      </li>
      <li>
        <a href="/persona">Personas</a>
        </li>


      <div class="linea"></div>
      <h5 class="titulo-submenu">Produccion</h5>
      <li>
        <a href="/produccion">Compra</a>
      </li>
    <li>
      <a href="/produccion/listarVenta">Venta</a>
    </li>
    <li>
        <a href="/persona/liquidacion">Liquidacion</a>
      </li>

      <div class="linea"></div>

      <h5 class="titulo-submenu">Insumos</h5>
      <li>
          <a href="/insumo">Inventario</a>
      </li>
      <li>
          <a href="/insumo/registrar-venta">Venta</a>
      </li>
      <div class="linea"></div>
      <li>
        <a href="/inicio">Cerrar Sesión</a>
        </li>

  </ul>
</nav>
