<div class="wrapper">
  <app-menu-lateral></app-menu-lateral>
  <!-- Page Content  -->
  <div id="content">
    <app-barra-superior></app-barra-superior>
    <div class="container">
      <div class="row ">
        <div class="col-8 d-flex justify-content-end">
          <h2>Listado de Personas Eliminadas</h2>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <a class="btn btn-lg btn-primary menu-text btn-init-session boton-comun" href="/persona">Listar Personas</a>
        </div>
      </div>
    </div>
      <br>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Cedula</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Acopio</th>
                <th scope="col">Tipo Producto</th>
                <th scope="col">Rol</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaPersona">
                <td>{{item.cedula}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.apellidos}}</td>
                <td>{{item.telefono}}</td>
                <td>{{item.direccion}}</td>
                <td>{{item.nombreAcopi}}</td>
                <td>{{item.tipoProducto1}}</td>
                <td>{{item.nombreRol}}</td>
                <td>
                  <a href="/persona/recuperar/{{item.idPersona}}" style="color:rgb(255, 255, 255)"
                    class="btn btn-warning mx-2"> Recuperar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
