<nav class="navbar navbar-expand-lg navbar-light background-menu">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a href="inicio" > <img class="logo-nav"  src="./../../../assets/img/logo.jpg" alt="Logo" ></a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item my-2">
          <a class="nav-link menu-text" aria-current="page" href="/quienes-somos">¿Quiénes Somos?</a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link menu-text" href="/producto">Productos</a>
        </li>
      </ul>
      <li class="nav-item  d-flex">
        <a class="nav-link menu-text btn btn-init-session" aria-current="page" href="/login" >Iniciar Sesión</a>
      </li>
    </div>
  </div>
</nav>

