<!-- <h1>Lista de Asignaciones</h1>
<div class="container">
    <a href="/acopio/crear " class="btn btn-success">Agregar Acopio</a>
<div class="row ">


    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre Acopio</th>
              <th scope="col">ubicación</th>
              <th scope="col">Cantidad Empleados</th>
              <th scope="col">MATERIA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let item of listaAcopio">
              <td>{{item.idAcopio}}</td>
              <td>{{item.nombreAcopi}}</td>
              <td>{{item.ubicacion}}</td>
              <td>{{item.cantidadEmpleados}}</td>
              <td>
                <a href="/acopio/eliminar/{{item.idAcopio}}" style="color:black" class="btn btn-danger"> Eliminar</a>
                <a href="/acopio/editar/{{item.idAcopio}}" style="color:rgb(249, 27, 27)" class="btn btn-success"> Editar</a>

              </td>

            </tr>

          </tbody>
    </table>
    </div>
</div> -->


<button class="btn btn-primary">HOLA</button>
