<div class="wrapper">
  <app-menu-lateral></app-menu-lateral>
  <!-- Page Content  -->
  <div id="content">
    <app-barra-superior></app-barra-superior>
    <div class="container">
      <div class="row ">
        <div class="col-6 d-flex justify-content-center ">
          <h2>Generar una Venta de produccion</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <button (click)="onImprimir()" type="button"
            class="btn btn-lg btn-primary menu-text btn-init-session boton-comun" style="background-color: #31C941; border: #31C941;">Exportar a
            PDF</button>
          <button type="button" class="btn btn-lg btn-primary menu-text btn-init-session mx-3 boton-comun"
            data-bs-target="#exampleModal" data-bs-toggle="modal">Ver Historial</button>
          <button type="button" class="btn btn-lg btn-primary menu-text btn-init-session boton-comun"
            data-bs-target="#produccionInactiva" data-bs-toggle="modal">Listar inactivos</button>
        </div>
      </div>
    </div>
    <br>
    <div class="container mt-5">
      <form [formGroup]="addVentaProduccionForm" (Submit)="crearVentaProduccion()" id="idCrearVentaProduccion">
        <div class="row ms-5">
          <div class="col-6">
            <div class="row">
              <div class="col-md-6">
                <label for="input1">Nombre Acopio</label>
                <select class="form-select" formControlName="idAcopio">
                  <option value="1">AcopiMilk</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="input1">Fecha de Venta</label>
                <input type="date" class="form-control" formControlName="fechaVenta">
              </div>
              <div class="col-md-6 mt-2">
                <label for="input2">Cantidad</label>
                <input type="number" class="form-control" formControlName="cantidad">
              </div>
              <div class="col-md-6 mt-2">
                <label for="input2">Precio Venta</label>
                <input type="number" class="form-control" formControlName="precio">
              </div>
              <div>
                <label for="input1">Observaciones</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="observaciones"
                  maxlength="500" rows="6"></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12 d-grid gap-2 "><button class="btn btn-primary boton-comun "
                  form="idCrearVentaProduccion" type="submit" (click)="crearVentaProduccion()">Ingresar
                  Venta Produccion</button>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/img/carrito-de-supermercado.png" width="40%" height="40%" class="">
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Historial de Produccion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
            <div class="row mt-5">
              <div class="col-12">
                <table class="table" #tablaVentaProduccion>
                  <thead>
                    <tr>
                      <th scope="col">NombreAcopio</th>
                      <th scope="col">Fecha de venta</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Total Venta</th>
                      <th scope="col">Observaciones</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listaVentaProduccion">
                      <td>{{item.nombreAcopi}}</td>
                      <td>{{item.fechaVenta | date:'dd/MM/yyyy'}}</td>
                      <td>{{item.cantidad}}</td>
                      <td>{{item.precio | currency: ''}}</td>
                      <td>{{item.totalVentaProduccion | currency: ''}}</td>
                      <td>{{item.observaciones}}</td>
                      <td>
                        <a class="mx-3" data-bs-dismiss="modal" (click)="eliminarVenta(item.idVentaProduccion)"
                          style="color:rgb(255, 255, 255)"> <img src="../../../assets/img/borrar.png" alt="Editar"></a>
                        <a href="/produccion/editarVenta/{{item.idVentaProduccion}}" style="color:rgb(255, 254, 254)">
                          <img src="../../../assets/img/lapiz.png" alt="Editar"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="produccionInactiva" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Producción Inactiva</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
            <div class="row mt-5">
              <div class="col-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">NombreAcopio</th>
                      <th scope="col">Fecha de venta</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Total Venta</th>
                      <th scope="col">Observaciones</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listaVentaProduccionEliminados">
                      <td>{{item.nombreAcopi}}</td>
                      <td>{{item.fechaVenta | date:'dd/MM/yyyy'}}</td>
                      <td>{{item.cantidad}}</td>
                      <td>{{item.precio}}</td>
                      <td>{{item.totalVentaProduccion}}</td>
                      <td>{{item.observaciones}}</td>
                      <td>
                        <a href="/produccion/recuperarVenta/{{item.idVentaProduccion}}"
                          style="color:rgb(255, 254, 254)"> <img src="../../../assets/img/lapiz.png" alt="Editar"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
