<body>
  <header>
    <app-navbar-blog></app-navbar-blog>
  </header>
  <main>
    <div class="container texto">
      <div class="row text-center ">
        <div class="col-12">
          <p class="fs-1">¿QUIENES SOMOS? </p>
          <p class="text-quienes-somos">Bienvenido a nuestro software: AcopioExpress, nos enorgullese brindarte una solución efectiva y sencilla para la administración de tu acopio. Somos un equipo de programadores cursando la carrera de ADSI en el SENA CTMA. Somos apasionados y tenemos diferentes enfoquemos para nuestras carreras como profesionales en el ambito del desarrollo.</p>
          <p class="text-quienes-somos">Te invitamos a dar click sobre cada una de nuestras fotos, para poder así conocer un poco más sobre nosotros y poder ver un poco de nuestros perfiles profesionales</p>
        </div>
      </div>
      <div class="row d-flex align-items mt-4">
        <div class="col-4 text-center">
          <button data-bs-toggle="modal" data-bs-target="#julianModal" type="button" class="borde2">
            <img src="../../assets/img/julian.jpg" alt="" class="img-fluid borde" height="50%" width="50%">
          </button>
          <p class="nombres mt-2 ">Julian Calle Perez</p>
        </div>
        <div class="col-4 text-center">
          <button data-bs-toggle="modal" data-bs-target="#saraModal" type="button" class="borde2">
            <img src="../../assets/img/sara.jpg" alt="" class="img-fluid borde" height="50%" width="50%">
          </button>
          <p class="nombres mt-2 ">Sara Yulitsa Torres Díaz</p>
        </div>
        <div class="col-4 text-center">
          <button data-bs-toggle="modal" data-bs-target="#pabloModal" type="button" class="borde2">
            <img src="../../assets/img/pablo.jpg" alt="" class="img-fluid borde" height="50%" width="50%">
          </button>
          <p class="nombres mt-2 ">Juan Pablo Holguin Cuartas</p>
        </div>
      </div>
    </div>
  </main>
  <app-pie-pagina></app-pie-pagina>
</body>




<!-- Modal julian -->
<div class="modal fade " id="julianModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content modales">
      <div class="modal-body  d-flex justify-content-center">
        <div class="row ">
          <div class="col-12  d-flex justify-content-center">
            <img src="../../assets/img/julian.jpg" height="70%" width="70%" alt="../../assets/img/logo.jpg"
              class="img-fluid borde">
          </div>
          <div class="col-12">
            <h2 class="text-white mt-2">Julian Calle Perez</h2>
            <p class="text-white">Estudiante SENA de la tecnología ADSI. En la constante búsqueda del mejoramiento de mis habilidades como desarrollador y profesional atreves del aprendizaje continuo, el autoestudio, el trabajo en equipo, y una gran disposición para el aprendizaje de nuevas herramientas </p>
          </div>
          <div class="col-12 text-center">
            <div class="row">
              <div class="col-4">
                <a href="https://github.com/juliancape1996" target="_BLANK"><img src="../../../assets/img/github.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
              <div class="col-4">
                <a href="https://www.linkedin.com/in/juliancalleperez/" target="_BLANK"><img src="../../../assets/img/linkedin.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
              <div class="col-4">
                <a href="https://www.instagram.com/juliancalleperez/" target="_BLANK"><img src="../../../assets/img/instagram.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal sara-->
<div class="modal fade " id="saraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content modales">
      <div class="modal-body  d-flex justify-content-center">
        <div class="row ">
          <div class="col-12 d-flex justify-content-center">
            <img src="../../assets/img/sara.jpg" height="70%" width="70%" alt="../../assets/img/logo.jpg"
              class="img-fluid borde">
          </div>
          <div class="col-12">
            <h2 class="text-white mt-2">Sara Yulitza Torres Díaz</h2>
            <p class="text-white">Soy una joven programadora que tiene 21 años, tengo habilidades para tomar decisiones y resolver problemas, habilidad para organizar y priorizar trabajo, conocimiento básico PHP,Testing y Git.
              Pienso enfocarme poco a poco en Testing.
              Dentro de poco tecnólogo en ADSI</p>
          </div>
          <div class="col-12 text-center">
            <div class="row">
              <div class="col-4">
                <a href="https://github.com/TorreSara" target="_BLANK"><img src="../../../assets/img/github.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
              <div class="col-4">
                <a href="http://www.linkedin.com/in/sara-yulitza-torres-diaz-586664218" target="_BLANK"><img src="../../../assets/img/linkedin.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
              <div class="col-4">
                <a href="https://instagram.com/sara_torres_diaz_?igshid=NGExMmI2YTkyZg==" target="_BLANK"><img src="../../../assets/img/instagram.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Pablo -->
<div class="modal fade " id="pabloModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content modales">
      <div class="modal-body  d-flex justify-content-center">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img src="../../assets/img/pablo.jpg" height="70%" width="70%" alt="../../assets/img/logo.jpg"
              class="img-fluid borde">
          </div>
          <div class="col-12">
            <h2 class="text-white mt-2">Juan Pablo Holguin Cuartas</h2>
            <p class="text-white">Soy un Joven programador que tiene 19 años, me encanta el lenguaje .NET y pienso
              entrar poco a poco al desarrollo movil con Flutter o Kotlin. Dentro de poco Tecnólogo de ADSI.</p>
          </div>
          <div class="col-12 text-center">
            <div class="row">
              <div class="col-4">
                <a href="https://github.com/pabloholguin08" target="_BLANK"><img src="../../../assets/img/github.png"
                    height="70%" width="70%" alt="" style="background-color: white; border-radius: 60%;"></a>
              </div>
              <div class="col-4">
                <a href="https://www.linkedin.com/in/juan-pablo-holgu%C3%ADn-cuartas/" target="_BLANK"><img
                    src="../../../assets/img/linkedin.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
              <div class="col-4">
                <a href="https://www.instagram.com/perapple_h/" target="_BLANK"><img
                    src="../../../assets/img/instagram.png" height="70%" width="70%" alt=""
                    style="background-color: white; border-radius: 60%;"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
